<li class="NavItem Nav-item Nav-{{ name }}">
  <a
    class="NavItem-link"
    href="{{ url }}"
    id="nav-{{ name }}"
    {{ url | toExternalLinkAttrs }}
  >
    <span class="Nav-itemImage">
      {% render "core/Boshi", name: boshi %}
    </span>

    <span class="Nav-itemLabel">
      <span class="NavItem-name Nav-itemName">
        {{ name }}
      </span>
    </span>
  </a>
</li>
