---
layout: Page.liquid
section: event
title: boshi's place | event
description: event
---

<h1 class="EventTitle">
  {{ name }}
</h1>

<body>
  <img src={{poster.src}} "(max-width: 200px)" alt={{poster.alt}}/>
  <div id="page" class="Page {{ section | camelize }}">
    {{ content }}
  </div>

  <div id="loading" class="Loading"></div>
</body>