<article class="EventDetail-body">
  <header class="EventDetail-header">
    <span class="EventDetail-titleRow" style="{% randvar %}">
      <h1 class="EventDetail-title"">
        {{ name }}
      </h1>

      {% assign url = links.tickets %}
      {% if url != null %}
        <a class="EventDetail-ticketsButton" href="{{ url }}" {{ url | toExternalLinkAttrs }}>rsvp!</a>
      {% endif %}
    </span>
  </header>

  <h2 class="EventDetail-date" style="{% randvar %}">
    {{ date | toLongDate }}
  </h2>

  <figure class="EventDetail-posterFrame" style="{% randvar %}">
    {% img poster "600px" %}
  </figure>

  <section class="EventDetail-content" style="{% randvar %}">
    {% if content == "" %}
      {{ description }}
    {% else %}
      {{ content }}
    {% endif %}
  </section>
</article>
