<article
  class="EventCard"
  style="
    {% randvar %}
    --index: {{ forloop.index | minus: 1 }};
    z-index: {{ forloop.length | minus: forloop.index }};
  "
>
  <a
    href="/{{event.data.tags}}/{{event.fileSlug}}"
    class="EventCard-anchor"
  >
    <div class="EventCard-poster">
      {% assign max = 3 | randint | plus: 1 %}
      {% for i in (1..max) %}
        <figure class="EventCard-posterBoshi" style="{% randvar %}">
          {% render "core/Boshi" %}
        </figure>
      {% endfor %}

      <figure class="EventCard-posterFrame" style="{% randvar %}">
        <svg
          class="
            EventCardBorder
            {% if rainbow %}
              EventCardBorder--rainbow
            {% else %}
              EventCardBorder--white
            {% endif %}
          "
        >
          <rect class="EventCardBorder-shape" />
        </svg>

        {% img event.data.poster "(max-width: 200px)" %}
      </figure>
    </div>

    <div class="EventCard-body" style="{% randvar %}">
      <div class="EventCard-bg"></div>

      <svg
        class="
          EventCardBorder
          {% if rainbow %}
            EventCardBorder--rainbow
          {% endif %}
        "
      >
        <rect class="EventCardBorder-shape" />
      </svg>

      <div class="EventCard-text">
        <h2 class="EventCard-date">
          {{ event.data.date | toShortDate }}
        </h2>

        <header class="EventCard-title">
          <h1 class="EventCard-name">
            {{ event.data.name }}
          </h1>
        </header>

        <div class="EventCard-desc">
          {{ event.data.description }}
        </div>
      </div>
    </div>
  </a>
</article>
