<article
  class="EventCard"
  style="
    {% randvar %}
    --index: {{ forloop.index | minus: 1 }};
    z-index: {{ forloop.length | minus: forloop.index }};
  "
>
  <div class="EventCard-poster">
    {% assign max = 3 | randint | plus: 1 %}
    {% for i in (1..max) %}
      <figure class="EventCard-posterBoshi" style="{% randvar %}">
        {% render "core/Boshi" %}
      </figure>
    {% endfor %}

    <figure class="EventCard-posterFrame" style="{% randvar %}">
      {% if rainbow %}
        {% render "core/Border", color: "rainbow" %}
      {% else %}
        {% render "core/Border", color: "white" %}
      {% endif %}

      {% img event.data.poster "200px" %}
    </figure>
  </div>

  <section class="EventCard-body" style="{% randvar %}">
    <h1 class="EventCard-name">
      <a
        href="/{{event.data.tags}}/{{event.fileSlug}}"
        class="EventCard-anchor"
      >
        {{ event.data.name }}
      </a>
    </h1>

    <h2 class="EventCard-date">
      {{ event.data.date | toShortDate }}
    </h2>

    {% if event.data.description %}
      <div class="EventCard-text">
        {% if rainbow %}
          {% render "core/Border", color: "rainbow" %}
        {% else %}
          {% render "core/Border" %}
        {% endif %}

        <div class="EventCard-desc">
          {{ event.data.description }}
        </div>
      </div>
    {% endif %}
  </section>
</article>
